$color-success: #4ee1a0;
$color-failure: #ff6f5b;

.form {
    width: 44.5rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    @media screen and (max-width: 600px) {
        width: 100%;
    }

    &_row {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &_submitButton {
        background-color: inherit;
        border: none;
        color: #fff;
        border-bottom: 2px solid $color-success;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.6rem;
        letter-spacing: 0.23rem;
        padding-bottom: 1rem;
        cursor: pointer;

        transition: color 0.3s ease-out;

        &:hover {
            color: $color-success;
            cursor: pointer;
        }
    }

    &_errorMessage {
        color: $color-failure;
        font-size: 1.2rem;
        margin: 0;
        margin-top: 0.5rem;
    }

    &_errorMessage___notShown {
        visibility: hidden;
    }

    &_errorMessage___shown {
        visibility: visible;
    }
}
