$color-success: #4ee1a0;
$color-failure: #ff6f5b;

.footerForm {
    max-width: 44.5rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    &_row {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &_input {
        font-family: inherit;
        font-size: 1.6rem;
        width: 100%;
        color: #fff;
        opacity: 0.7;
        background-color: inherit;
        text-transform: uppercase;
        border: none;
        border-bottom: 1px solid #fff;
        padding: 0 1.6rem 2.4rem 1.6rem;
        outline: none;

        &___success {
            border-bottom: 1px solid $color-success;
        }

        &___failure {
            border-bottom: 1px solid $color-failure;
        }
    }

    &_submitButton {
        background-color: inherit;
        border: none;
        color: #fff;
        border-bottom: 2px solid $color-success;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.6rem;
        letter-spacing: 0.23rem;
        padding-bottom: 1rem;
        cursor: pointer;

        transition: color 0.3s ease-out;

        &:hover {
            color: $color-success;
            cursor: pointer;
        }
    }

    &_errorMessage {
        color: $color-failure;
        font-size: 1.2rem;
        margin: 0;
        margin-top: 0.5rem;

        &___shown {
            visibility: visible;
        }

        &__notShown {
            visibility: hidden;
        }
    }
}

.test {
}
