.hero {
    height: 60.6rem;
    position: relative;

    &_textContent {
        position: relative;
        z-index: 2;
        max-width: 70.9rem;
        margin-bottom: 6.6rem;
    }

    &_photo {
        position: absolute;
        z-index: 1;
        top: -25rem;
        right: 0;
        width: 44.5rem;
        height: 72rem;
    }

    &_rings {
        position: absolute;
        top: 13.3rem;
        left: -10rem;
        width: 53rem;
        height: 13rem;
        opacity: 0.5;
    }

    &_title {
        font-size: 8.8rem;
        line-height: 8.8rem;
        letter-spacing: -0.25rem;
    }

    &_titleSpan {
        display: inline-block;
        border-bottom: 0.6rem solid #4ee1a0;
    }

    &_description {
        max-width: 44.5rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
}
