.hero {
    &__textContent {
        max-width: 70.9rem;
    }

    &__photo {
        position: absolute;
        top: 0;
        right: 16.5rem;
        z-index: -1;
        width: 44.5rem;
        height: 72rem;
    }

    &__rings {
        position: absolute;
        top: 13.3rem;
        left: -10rem;
        width: 53rem;
        height: 13rem;
        opacity: 0.5;
    }

    &__title {
        font-size: 8.8rem;
        line-height: 8.8rem;
        letter-spacing: -0.25rem;
    }

    &__titleSpan {
        display: inline-block;
        border-bottom: 0.6rem solid #4ee1a0;
    }

    &__description {
        max-width: 44.5rem;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.8rem;
    }
}
