.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;

    &_name {
        font-weight: 700;
        font-size: 3.2rem;
    }

    &_socials {
        display: flex;
        gap: 3.2rem;
        margin-right: 3rem;
    }

    &_socialItem {
        width: 2.4rem;
    }
}
