.header {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;

    @media only screen and (max-width: 1000px) {
        padding: 2.9rem 0;
        padding-left: 3.2rem;
    }

    &_name {
        font-weight: 700;
        font-size: 3.2rem;
        margin: 0;
    }

    &_socials {
        display: flex;
        gap: 3.2rem;
        margin-right: 3rem;
    }

    &_socialItem {
        width: 2.4rem;
    }
}
