.container {
    &_main {
        max-width: 145rem;
        margin-inline: auto;
    }

    &_content {
        background-color: #151515;
        max-width: 145rem;
        padding-inline: 16.5rem;

        @media screen and (max-width: 1250px) {
            padding-inline: 10vw;
        }

        @media screen and (max-width: 1000px) {
            padding: 0;
        }
    }
}
