.container {
    &_main {
        width: 145rem;
        margin-inline: auto;
    }

    &_content {
        background-color: #151515;
        max-width: 145rem;
        padding-inline: 16.5rem;
    }
}
