.container {
    &_main {
        width: 145rem;
        margin-inline: auto;
    }

    &_content {
        background-color: #151515;
        max-width: 145rem;
        position: relative;
        padding-inline: 16.5rem;
        left: 0;
        right: 0;
        z-index: -2;
    }
}
